<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />      
    </startup>
  <appSettings>
    <!-- The directory to use for the image asset files. -->
    <add key="AssetFilePath" value="assets" />
    <!-- Set to true to draw grid lines in the output image. -->
    <add key="DrawGridLines" value="false"/>
    <!-- The horizontal resolution to resize the source image to before stashifying. 
    The horizontal resolution of the output file will be 32 times this size. -->
    <add key="HorizontalResolution" value="74" />
    <!-- The vertical resolution to resize the source image to before stashifying. 
    The vertical resolution of the output file will be 32 times this size. -->
    <add key="VerticalResolution" value="74" />
    <!-- Set to true to preserve the aspect ratio of the source image. -->
    <add key="PreserveAspectRatio" value="true"/>
    <!-- Set to true to give additional weight to hue proximity when choosing image assets. -->
    <add key="PrioritizeHue" value="true"/>    
  </appSettings>
</configuration>